.vscode/
*.pyc
*.brep
*.msh
*.xml
*.xdmf
*.h5
demo/loc_E12_u.pdf
*.pyc.*
*.egg-info/
ho_homog/.idea
*.iml
demo/demo_homog2d_fine_mesh_soft.svg
demo/demo_homog2d_fine_mesh_voids.svg
demo/demo_homog2d_small_mesh_voids.svg
.idea/
