.vscode/
old_lib & drafts/
issues & misc/
*.pyc
*.brep
*.msh
*.xml
t1.py
t10.py
t10_modif.py
geometry_essai1_abandon.py
boolean.py
classes_geometriques_backup_13avril.py
draft.py
explore_library.py
gen.py
gmsh_brouillon.py
gmsh_mesh.py
gui.py
libgmsh.so
periodic.py
activity.log
test_convert_import_mesh/
TODO.txt
ho_homog.egg-info/
