.vscode/
*.pyc
*.brep
*.msh
t1.py
t10.py
t10_modif.py
geometry_essai1_abandon.py
boolean.py
classes_geometriques_backup_13avril.py
draft.py
explore_library.py
gen.py
gmsh_brouillon.py
gmsh_mesh.py
gui.py
libgmsh.so
periodic.py
activity.log
